<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ChangePassSER</servlet-name>
        <servlet-class>LoginSER.ChangePassSER</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartControl</servlet-name>
        <servlet-class>Controller.AddToCartControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetail</servlet-name>
        <servlet-class>Controller.BlogDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogList</servlet-name>
        <servlet-class>Controller.BlogList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartControl</servlet-name>
        <servlet-class>Controller.CartControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryControl</servlet-name>
        <servlet-class>Controller.CategoryControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutConTrol</servlet-name>
        <servlet-class>Controller.CheckoutConTrol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartControl</servlet-name>
        <servlet-class>Controller.DeleteCartControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductListControl</servlet-name>
        <servlet-class>Controller.ProductListControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortControl</servlet-name>
        <servlet-class>Controller.SortControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartQuantity</servlet-name>
        <servlet-class>Controller.UpdateCartQuantity</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangePassSER</servlet-name>
        <url-pattern>/ChangePassSER</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartControl</servlet-name>
        <url-pattern>/AddToCartControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetail</servlet-name>
        <url-pattern>/BlogDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogList</servlet-name>
        <url-pattern>/BlogList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartControl</servlet-name>
        <url-pattern>/CartControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryControl</servlet-name>
        <url-pattern>/CategoryControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutConTrol</servlet-name>
        <url-pattern>/CheckoutConTrol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartControl</servlet-name>
        <url-pattern>/DeleteCartControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductListControl</servlet-name>
        <url-pattern>/ProductListControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortControl</servlet-name>
        <url-pattern>/SortControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartQuantity</servlet-name>
        <url-pattern>/UpdateCartQuantity</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
